services:
    watchtower:
        image: containrrr/watchtower
        container_name: watchtower
        restart: always
        environment:
            - WATCHTOWER_LABEL_ENABLE=true
            - WATCHTOWER_POLL_INTERVAL=600
            - WATCHTOWER_CLEANUP=true
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        logging:
            options:
                max-size: "10m"
                max-file: "3"
